.header{
  height: 100px;
  box-shadow: 0 1px 4px #00000040;
}
.header .center:not(:last-child){
  padding-right: 134px;
}
.menu_nav_item{
  color: #1F2E35CC;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.menu_nav_item:not(:last-child){
  margin-right: 50px;
}
.menu_media_item:not(:last-child){
  margin-right: 24px;
}
